@model DotNetMvcDemo.ViewModels.Department.DepartmentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@*<div>
    <table class="table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <td>Teacher's Name</td>
                <td>Teacher ID</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model.)
            {
                <tr>
                    <td>@teacher.GetFullName()</td>
                    <td>@teacher.TeacherCardNumber</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
